# Dependencies
node_modules

# Build outputs
dist
build
coverage

# Cache
.cache
.vite
.tmp

# Logs
*.log

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
